        <%- extend('partials/index') -%>

<div class="page login-page">
        <div class="container">
          <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
              <div class="logo text-uppercase"><strong class="text-primary">Login</strong></div>
              <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
              <form id="login-form" method="post" action="users/auth">
                <div class="form-group">
                  <label for="login-username" class="label-custom">User Name</label>
                  <input id="login-username" type="text" name="username" required="">
                </div>
                <div class="form-group">
                  <label for="login-password" class="label-custom">Password</label>
                  <input id="login-password" type="password" name="password" required="">
                </div>
                <button id="login" type="submit" class="btn btn-primary">Login</button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register" class="signup">Signup</a>
            </div>

            <div class="copyrights text-center">
              <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
            </div>
          </div>
        </div>
      </div>